<!DOCTYPE html>

<html>

<head>

<title>Prediction History</title>

<style>

body{

font-family:Arial;

background:#0f172a;

color:white;

padding:40px;

}

table{

width:100%;

border-collapse:collapse;

}

th,td{

border:1px solid gray;

padding:12px;

text-align:center;

}

th{

background:#334155;

}

tr:nth-child(even){

background:#1e293b;

}

a{

color:#3b82f6;

}

</style>

</head>

<body>

<h1>Prediction History</h1>

<a href="/">Back</a>

<br><br>

<table>

<tr>

<th>Date</th>
<th>Image</th>
<th>Prediction</th>
<th>Confidence</th>

</tr>

{% for row in records %}

<tr>

<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>

</tr>

{% endfor %}

</table>

</body>

</html>